*{
    padding: 0;
    margin:0
}
body{
    background-color:rgb(35, 35, 35, 1);
    font-family: 'Roboto', sans-serif;
    color: white;
    /* border-top: 6px solid #333;
    color:  */
}
.space{
    background-color: black;
    margin-bottom: 8px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
.logo{
    padding-left: 45px;
}
.right-side{
    padding-right: 45px;
}
.container{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("/pictures/background.jpg") ;
    height: 700px;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
.container2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 100px; */
}
.container2 h1{
    font-weight:900;
    font-size: 48px;
    line-height: 70px;
    white-space: nowrap;
    padding-bottom: 15px;

}
h2{
    font-weight:900;
    font-size: 48px;
}
.container2  p{
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 25px
}
.container2  h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 5px
}
.btn1{
    border: none;
    border-radius: 0.1875rem ;
    color: white;
    background-color: rgba(229, 22, 20, 1);
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    cursor: pointer;
}
select{
font-size: 16px;
background-color: transparent;
border-radius: 4px;
padding:6px 36px;
color:white;
justify-content: center;
align-items: center;
margin-right: 20px;
appearance: none;
background: url(/pictures/arrow.svg) no-repeat calc(100% - 10px);

} 
.language{
background-color: rgba(28, 28, 28, 0.765);
}
.language-logo{
position: absolute;
top:34px;
padding-left: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.sign-in{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.sign-in input{
    /* flex:1;
    border:0;
    outline: 0;
    margin-left: 20px; */
    border:1px solid rgb(94, 94, 94, 1);
    border-radius: 4px;
    background-color: rgba(28, 28, 28, 0.765);
    color: white;
    padding: 15px 16px 15px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
}
input::-webkit-input-placeholder { 
    color: rgb(185, 185, 185,1); 
}
:focus::-webkit-input-placeholder {
    font-size: 13px;
    transition: 0.3s;

  }
.sign-in button{
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(229, 22, 20, 1);
    padding: 10px 16px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.container3{
    padding: 50px 12%;
    font-size: 24px;
    
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding:50px 0;

}
.text-side{
    flex-basis: 50%;
    margin-bottom:20px;
}
.img-side{
    flex-basis: 50%;
    margin-bottom:20px;
}
.img-side img{
display: block;
width:90%;
margin:auto;
}
.container3 h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.hide{
    display: none;
}
.faq h2{
    font-weight: 900;
    font-size: 48px;
}
.faq .sign-in{
    max-width: 600px;
    margin:20px auto 60px;
}
.faq span{
    font-size: 20px;
}
footer{
    padding: 50px 15% 10px;
    background-color: black;
}
footer a{
    color: #b3b3b3;
    text-decoration: underline;
    font-size: 16px;
}
footer h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
footer .col a{
    display: block;
    text-decoration: underline;
    color:#b3b3b3;
    font-size:14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
footer .row{
    align-items: flex-start;
    padding: 10px 0;
    
}
.lang-logo{
    position: absolute;
    display: flex;
    padding-left:2px;
    padding:10px;;
    justify-content: center;
    align-items: center;
}
.Lithuania{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: rgb(179, 179, 179,1);
}
